name: Update activity log

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  update-activity:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Update activity in README
        uses: TheDanniCraft/activity-log@v1
        with:
          GITHUB_USERNAME: "ya7on"
          EVENT_LIMIT: 30
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          IGNORE_EVENTS: '["PushEvent","CreateEvent","DeleteEvent","CommitCommentEvent","IssueCommentEvent","PullRequestReviewEvent","PullRequestReviewCommentEvent","PullRequestReviewThreadEvent","ForkEvent","RepositoryEvent","WatchEvent","StarEvent","PublicEvent","GollumEvent"]'
